# Pandas - series - przekształcenia - zadania

## Series Sample

1. Ustaw ziarno losowości na zero
1. Stwórz ``pd.Series`` z 100 losowymi liczbami z rozkładu normalnego
1. Indeksem w serii mają być kolejne dni od 2000 roku
1. Wypisz wartości:

    * pierwszy w serii,
    * ostatnie 5 elementów w serii,
    * dwa pierwsze tygodnie w serii,
    * ostatni miesiąc w serii,
    * trzy losowe element,
    * 125% losowych elementów z powtórzeniami.

Podpowiedź:
    * ``np.random.seed(0)``
    * ``np.random.randn(n)``

## Series Getitem

1. Ustaw ziarno losowości na zero
1. Stwórz ``pd.Series`` z 100 losowymi liczbami z rozkładu normalnego
1. Indeksem w serii mają być kolejne dni od 2000 roku
1. Wypisz wartości:

    * dnia 2000-02-29,
    * pierwszą wartość w serii (nie używając ``.head()``),
    * ostatnią wartość w serii (nie używając ``.tail()``),
    * środkowa wartość serii.

Podpowiedź:
    * ``np.random.seed(0)``
    * ``np.random.randn(10)``

## Series Slice Datetime

1. Ustaw ziarno losowości na zero
1. Stwórz ``pd.Series`` z 100 losowymi liczbami z rozkładu normalnego
1. Indeksem w serii mają być kolejne dni od 2000 roku
1. Wytnij daty od 2000-02-14 do końca lutego 2000
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```python
s: pd.Series
# 2000-02-14   -0.509652
# 2000-02-15   -0.438074
# 2000-02-16   -1.252795
# 2000-02-17    0.777490
# 2000-02-18   -1.613898
# 2000-02-19   -0.212740
# 2000-02-20   -0.895467
# 2000-02-21    0.386902
# 2000-02-22   -0.510805
# 2000-02-23   -1.180632
# 2000-02-24   -0.028182
# 2000-02-25    0.428332
# 2000-02-26    0.066517
# 2000-02-27    0.302472
# 2000-02-28   -0.634322
# 2000-02-29   -0.362741
# Freq: D, dtype: float64
```

Podpowiedź:
    * ``np.random.seed(0)``
    * ``np.random.randn(10)``

## Slicing Slice Str

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz ``pd.Series`` z 26 losowymi liczbami całkowitymi z przedziału ``<10; 100)``
1. Nazwij indeksy jak kolejne litery alfabetu ASCII (``ascii_lowercase: str``)
1. Znajdź środkową literę alfabetu
1. Wytnij z serii po 3 elementy w górę i w dół od wyszukanego środka
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```python
s: pd.Series
# j    97
# k    80
# l    98
# m    98
# n    22
# o    68
# p    75
# dtype: int64
```

Podpowiedź:
* ``np.random.randint(..., ..., size=...)``

In [ ]:
ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'

## Series NA

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Z danych wejściowych stwórz ``pd.Series``
1. Wypełnij pierwszą brakującą wartość zerem
1. Usuń brakujące wartości
1. Zresetuj indeks (bez kopii starego)
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```
s: pd.Series
# 0    1.0
# 1    0.0
# 2    5.0
# 3    1.0
# 4    2.0
# 5    1.0
# dtype: float64
```

In [ ]:
DATA = [1, None, 5, None, 1, 2, 1]

## Series Alter

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Z danych wejściowych stwórz ``pd.Series``
1. Usuń wartości na indeksach 2, 4, 6
1. Usuń duplikujące się wartości
1. Zresetuj indeks (bez kopii starego)
1. Wypisz serię

Oczekiwany wynik:
```python
s: pd.Series
# 0    1.0
# 1    NaN
# 2    2.0
# dtype: float64
```

In [ ]:
DATA = [1, None, 5, None, 1, 2, 1]

## Series Mapping Clean

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Przekonwertuj ``DATA`` (patrz sekcja input) do ``pd.Series``
1. Napisz funkcję czyszczącą dane
1. Funkcja przyjmuje jeden argument typu ``str``
1. Funkcja zwraca oczyszczony tekst
1. Zaaplikuj funkcję na wszystkich elementach ``pd.Series``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```python
s: pd.Series
# 0               Mieszka II
# 1        Zygmunta III Wazy
# 2      Bolesława Chrobrego
# 3     Jana III Sobieskiego
# 4     Jana III Sobieskiego
# 5     Jana III Sobieskiego
# 6     Jana III Sobieskiego
# 7     Jana III Sobieskiego
# 8     Jana III Sobieskiego
# 9     Jana III Sobieskiego
# 10    Jana III Sobieskiego
# dtype: object
```

In [ ]:
DATA = [
    'ul.Mieszka II',
    'UL. Zygmunta III WaZY',
    '  bolesława chrobrego ',
    'ul Jana III SobIESkiego',
    '\tul. Jana trzeciego Sobieskiego',
    'ulicaJana III Sobieskiego',
    'UL. JA    NA 3 SOBIES  KIEGO',
    'ULICA JANA III SOBIESKIEGO  ',
    'ULICA. JANA III SOBIeskieGO',
    ' Jana 3 Sobieskiego  ',
    'Jana III Sobi  eskiego ',
]